@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import "./mediaqueries.css";

// MINXINS
@mixin display($display, $direction: row, $wrap: wrap, $justification: flex-start, $align: center) {
    display: $display;
    direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justification;
    align-items: $align;
}

// PANTALLAS DE INICIO DE SESION Y REGISTRO
@keyframes animBg {
    0% {
        background-position: center;
    }
    25% {
        background-position: top;
    }
    50% {
        background-position: center;
    }
    75% {
        background-position: bottom;
    }
    100% {
        background-position: center;
    }
}

body {
    // FORMULARIOS DE INICIO DE SESION Y REGISTRO
    #bg-img {
        width: 100%;
        height: 100vh;
        animation-name: animBg;
        animation-duration: 15s;
        animation-iteration-count: infinite;
        background-color: #835dad;
        background-image: url("../img/bg01.jpg");
        opacity: 0.5;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-blend-mode: multiply;
    }

    #preloader-modal .modal-content {
        width: fit-content !important;
        margin: 0 auto;

        .modal-body {
            padding: 3px;
        }
    }

    .invalid {
        box-shadow: 0 0 5px red;
    }

    section {
        @include display(flex, nowrap, center);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .form-window {
            width: 350px;
            padding: 15px;
            background-color: #ffffff;
            box-sizing: border-box;
            border-radius: 10px;
            box-shadow: 0 0 10px #00000080;
            text-align: center;

            #forms-logo {
                width: 150px;
            }
        }
    }

    // PANTALLA DE PAGOS
    #pagos-header {
        min-height: 100px;
        @include display(flex);
        padding: 1% 5%;
        background-color: darkcyan;
        color: #fff;
        box-shadow: 0 2px 5px #33333380;

        div:nth-child(1) {
            @include display(flex);
            #main-logo {
                height: 75px;
                margin-right: 2%;
            }
        }

        div:nth-child(2) {
            @include display(flex, row, wrap, flex-end);
            button {
                margin-left: 2%;
            }
        }
    }

    #contenido {
        display: flex;
        flex-wrap: wrap;

        aside {
            min-height: 90vh;
            padding: 10px;
            box-sizing: border-box;
            background-color: rgb(225, 225, 225);

            .asideBtn {
                width: 100%;
                padding: 5px;
                box-sizing: border-box;
                margin-bottom: 15px;
                background-color: darkcyan;
                border: 1px solid darkcyan;
                border-radius: 5px;
                color: #fff;
            }

            .asideBtn:hover {
                background-color: #fff;
                color: darkcyan;
                border: 1px solid darkcyan;
            }
        }

        main {
            padding: 15px;

            .mainBtn {
                width: fit-content;
                padding: 5px;
                box-sizing: border-box;

                background-color: darkcyan;
                border: 1px solid darkcyan;
                border-radius: 5px;
                color: #fff;
            }

            #historial-div,
            #p2p-div,
            #c2p-div,
            #reporte-pmov-div {
                display: none;
            }

            #notas-entrega-div {
                max-height: 250px;
                overflow-y: auto;
            }

            .tipo-doc {
                max-width: 80px !important;
            }
        }
    }

    // VENTANAS MODAL
    #detalles-pago-modal .modal-dialog {
        max-width: 75vw;
        font-size: 0.9em;
    }

    #datos-pmov-modal .modal-content {
        background-color: darkcyan;
        color: #fff;
    }
}

.hide {
    display: none;
}
